
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.favorites-Kjw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-3vq {
    overflow: hidden;
    border: solid 0.1rem #000000;
    padding: 2rem 5.5rem 1.9rem 8rem;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #605757;
    flex-shrink: 0;
    margin-bottom: 5rem;

    .ocos-kaM {
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.2rem;
      font-size: 5rem;
      font-style: italic;
      color: #ffffff;
    }
    .beranda-fBX {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.7rem;
      font-size: 1.5rem;
      font-weight: 400;
    }
    .products-zUh {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 17.2rem;
      font-size: 1.5rem;
    }
    .about-us-LHf {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 24.9936rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
    }
    .heart-s2h {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.319rem 0.071rem 0rem;
      width: 2.6129rem;
      height: 2.279rem;
      object-fit: contain;
    }
    .shopping-cart-xpq {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.625rem 0.225rem 0rem;
      width: 2.75rem;
      height: 2.625rem;
      position: relative;
      object-fit: contain;
    }
    .user-UHP {
      margin-bottom: 0.1rem;
      width: 2rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .body-n3B {
    width: 121.95rem;
    flex-shrink: 0;
    margin-bottom: 14rem;

    .group-1-v9P {
      margin-bottom: 4.4rem;
      width: 88.2368rem;
      height: 36.4rem;
      position: relative;

      .image-16-er5 {
        object-fit: cover;
        vertical-align: top;
        width: 46.4264rem;
        height: 36.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .facial-foam-by-sari-ayu-z9F {
        width: 45.9rem;
        text-align: center;
        white-space: nowrap;
        line-height: 1.2125;
        color: #000000;
        height: 4.9rem;
        position: absolute;
        left: 42.3368rem;
        top: 8.2rem;
        font-size: 4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
      }
      .heart-sTw {
        height: 3.0386rem;
        position: absolute;
        left: 41.9581rem;
        top: 16.4997rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.4838rem;
      }
    }
    .group-2-BzR {
      margin: 0rem 15.7rem 4.4rem 12.4rem;
      width: calc(100% - 28.1rem);
      display: flex;
      align-items: flex-start;

      .image-17-vBK {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 8.45rem;
        width: 21.5rem;
        height: 30.6rem;
      }
      .auto-group-3q1p-ram {
        margin-top: 2rem;
        width: 63.9rem;
        flex-shrink: 0;

        .nail-polish-kutek-by-maybelline-oF7 {
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
          margin-bottom: 3.3997rem;
          width: 100%;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          color: #000000;
        }
        .heart-W9X {
          margin-left: 0.0081rem;
          width: 3.4838rem;
          height: 3.0386rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .group-3-S3B {
      align-items: flex-start;
      margin: 0rem 36.65rem 6.4rem 5.7rem;
      width: calc(100% - 42.35rem);
      display: flex;

      .image-18-xnD {
        width: 35rem;
        height: 35rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
      }
      .auto-group-xvyd-6tR {
        width: 42.9rem;
        flex-shrink: 0;
        margin-top: 2.6rem;

        .face-wash-by-garnier-ef3 {
          font-weight: 700;
          white-space: nowrap;
          margin-bottom: 3.4rem;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          width: 100%;
          font-size: 4rem;
        }
        .heart-yBX {
          object-fit: contain;
          vertical-align: top;
          width: 3.4838rem;
          height: 3.0386rem;
        }
      }
    }
    .group-4-Jjb {
      margin-left: 7.1rem;
      width: calc(100% - 7.1rem);
      display: flex;
      align-items: flex-start;

      .image-19-rFK {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.6581rem;
        width: 33.6rem;
        height: 35rem;
        object-fit: cover;
      }
      .auto-group-knnd-yqj {
        margin-top: 1.9rem;
        width: 79.5919rem;
        flex-shrink: 0;

        .shampoo-keratin-smooth-by-tresemme-w1s {
          width: 100%;
          text-align: center;
          font-size: 4rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 3.3997rem;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .heart-SDX {
          width: 3.4838rem;
          height: 3.0386rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .footer-yjF {
    box-sizing: border-box;
    padding: 10.2rem 20rem 14.1rem 17rem;
    align-items: center;
    background-color: #605757;
    border: solid 0.1rem #000000;
    width: 100%;
    height: 49rem;
    display: flex;
    flex-shrink: 0;

    .auto-group-qgsu-74m {
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.7rem 47rem 7.7rem 0rem;
      width: 20rem;
      height: calc(100% - 11.4rem);
      align-items: center;
      display: flex;

      .ocos-Ddb {
        flex-shrink: 0;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1.2125;
        font-style: italic;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
        color: #ffffff;
      }
      .auto-group-gcfs-KwX {
        width: 100%;
        display: flex;
        column-gap: 2.5rem;
        align-items: center;
        flex-shrink: 0;

        .group-7-UJd {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-2-pNV {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .group-3-mYd {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .group-4-K4M {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;

      .contact-us-UT3 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 5.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .ocoscompanyid-DQd {
        margin-bottom: 2.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jl-batu-besar-no-101-blok-c-kfT {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .item-62-812-3456-7890-V7F {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 400;
      }
    }
  }
}
