
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.katalog-products-3A1 {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .header-ypM {
    display: flex;
    align-items: center;
    background-color: #605757;
    width: 100%;
    padding: 2rem 5.5rem 1.9rem 8rem;
    overflow: hidden;
    position: relative;
    border: solid 0.1rem #000000;
    flex-shrink: 0;
    box-sizing: border-box;

    .ocos-Vnh {
      font-size: 5rem;
      font-weight: 400;
      color: #ffffff;
      margin-right: 18.2rem;
      line-height: 1.2125;
      font-style: italic;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .beranda-1FF {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.7rem;
      font-size: 1.5rem;
    }
    .products-jww {
      margin-right: 17.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .about-us-HCm {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 24.9936rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .heart-1eZ {
      flex-shrink: 0;
      margin: 0rem 3.319rem 0.071rem 0rem;
      width: 2.6129rem;
      height: 2.279rem;
      object-fit: contain;
      vertical-align: top;
    }
    .shopping-cart-j4m {
      margin: 0rem 3.625rem 0.225rem 0rem;
      width: 2.75rem;
      height: 2.625rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .user-3bF {
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 0.1rem;
      width: 2rem;
    }
  }
  .auto-group-zcqz-xCR {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 0rem 0rem 0.1rem;
    width: 100%;
    align-items: center;

    .body-UwT {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 20.3rem 13.6rem 0rem;
      width: 105.8rem;
      height: 117.4rem;

      .kembali-QaD {
        left: 0;
        font-size: 3.5rem;
        line-height: 1.2125;
        white-space: nowrap;
        height: 4.3rem;
        position: absolute;
        font-weight: 400;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        width: 17.4rem;
        top: 0;
      }
      .group-1-v2m {
        width: 50rem;
        height: 43.4rem;
        position: absolute;
        left: 38rem;
        top: 9.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .image-16-EZF {
          margin-bottom: 2.0417rem;
          width: 50rem;
          height: 36.4583rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .facial-foam-by-sari-ayu-mJH {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
        }
      }
      .busa-pembersih-wajah-yang-mengandung-ekstrak-buah-langsat-ekstrak-bunga-hibiscus-vitamin-c-dan-provitamin-b5-memiliki-manfaat-membersihkan-secara-menyeluruh-semua-sisa-debu-kotoran-dan-minyak-berlebih-dalam-satu-langkah-mudah-kulit-terasa-lembut-segar-dan-terlihatlebihcerah-rasakan-manfaat-langsat-pada-rangkaian-bright-skin-putih-langsat-buah-langsat-mengandung-senyawa-flavonoid-fenolik-dan-polifenolik-serta-memiliki-kandungan-antioksidan-yang-tinggi-kandungan-ini-memiliki-manfaat-yang-baik-bagi-kulit-yaitu-dapat-menangkal-radikal-bebas-yang-berdampak-buruk-bagi-kulit-menjaga-kelembapan-kulit-serta-mencerahkankulit-J3K {
        width: 89rem;
        height: 42.5rem;
        position: absolute;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        left: 16.8rem;
        top: 66.8rem;
        text-align: center;
      }
      .auto-group-ywwz-8Am {
        position: absolute;
        left: 46rem;
        top: 60.8rem;
        display: flex;
        align-items: center;
        width: 36.3419rem;
        height: 4rem;

        .stars-TTw {
          padding: 0.333rem 0.333rem 0.497rem 0.333rem;
          height: 100%;
          display: flex;
          column-gap: 1.6667rem;
          align-items: center;
          flex-shrink: 0;
          margin-right: 8.8581rem;
          box-sizing: border-box;

          .star-mUd {
            flex-shrink: 0;
            width: 3.3333rem;
            height: 3.17rem;
            object-fit: contain;
            vertical-align: top;
          }
          .star-JjT {
            flex-shrink: 0;
            width: 3.3333rem;
            height: 3.17rem;
            object-fit: contain;
            vertical-align: top;
          }
          .star-3ww {
            width: 3.3333rem;
            height: 3.17rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .star-oAR {
            width: 3.3333rem;
            height: 3.17rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .star-MSq {
            height: 3.17rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.3333rem;
          }
        }
        .heart-txZ {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.038rem;
          width: 3.4838rem;
          height: 3.0386rem;
        }
      }
      .rp-20000-qN1 {
        left: 53.2rem;
        font-size: 4rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 19.6rem;
        position: absolute;
        top: 54.2rem;
        text-align: center;
        font-weight: 100;
        line-height: 1.2125;
        color: #000000;
        height: 4.9rem;
      }
      .group-L3s {
        top: 112.4rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f2f1ef;
        box-sizing: border-box;
        left: 38rem;
        height: 5rem;
        position: absolute;
        border-radius: 3rem;
        padding: 0.525rem 23.625rem;
        width: 50rem;

        .shopping-cart-r2D {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 2.75rem;
          height: 2.625rem;
        }
      }
    }
    .page-selection-LCH {
      flex-shrink: 0;
      margin: 0rem 22.2rem 9rem 22.2rem;
      width: calc(100% - 44.4rem);
      height: 6rem;
      display: flex;
      align-items: center;

      .group-0-eim {
        background-color: #f2f1ef;
        width: 25.1rem;
        text-align: center;
        line-height: 1.2125;
        display: flex;
        flex-shrink: 0;
        font-size: 3rem;
        color: #000000;
        white-space: nowrap;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 2rem;
        height: 100%;
        font-weight: 400;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .group-0-eim-sub-0 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Times New Roman, 'Source Sans Pro';
        }
        .group-0-eim-sub-1 {
        }
      }
      .auto-group-azt9-Xg5 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0rem 0.5rem 19.4rem;

        .group-1-riM {
          text-align: center;
          white-space: nowrap;
          justify-content: center;
          margin-right: 11rem;
          font-size: 1rem;
          font-weight: 400;
          display: flex;
          flex-shrink: 0;
          height: 100%;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f2f1ef;
          width: 5rem;
          line-height: 1.2125;
        }
        .group-2-ikZ {
          margin-right: 1rem;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          height: 100%;
          font-weight: 400;
          color: #000000;
          justify-content: center;
          background-color: #f2f1ef;
          line-height: 1.2125;
          align-items: center;
          width: 5rem;
          text-align: center;
          font-size: 1rem;
          white-space: nowrap;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .group-3-nVX {
          background-color: #f2f1ef;
          font-size: 1rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          height: 100%;
          text-align: center;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 5rem;
          line-height: 1.2125;
          color: #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          flex-shrink: 0;
        }
        .group-3-Fe1 {
          height: 100%;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          margin-right: 1rem;
          text-align: center;
          line-height: 1.2125;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 5rem;
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
          font-size: 1rem;
          color: #000000;
          background-color: #f2f1ef;
        }
        .group-4-Kds {
          font-size: 1rem;
          font-weight: 400;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f2f1ef;
          margin-right: 11rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          height: 100%;
          text-align: center;
          color: #000000;
          width: 5rem;
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
        }
        .group-5-oZ3 {
          white-space: nowrap;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f2f1ef;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          flex-shrink: 0;
          width: 5rem;
          height: 100%;
          text-align: center;
          color: #000000;
          justify-content: center;
        }
      }
    }
    .footer-5WZ {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 10.2rem 20rem 14.1rem 17rem;
      height: 49rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #000000;
      width: 100%;
      background-color: #605757;

      .auto-group-eyau-QYq {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.7rem 47rem 7.7rem 0rem;
        width: 20rem;
        height: calc(100% - 11.4rem);
        align-items: center;

        .ocos-XNZ {
          margin-bottom: 2.2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 5rem;
          font-weight: 400;
          line-height: 1.2125;
          font-style: italic;
          color: #ffffff;
        }
        .auto-group-n4uw-2aD {
          width: 100%;
          display: flex;
          column-gap: 2.5rem;
          align-items: center;
          flex-shrink: 0;

          .group-7-Nty {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
          }
          .group-2-8NM {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
          }
          .group-3-GzM {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
          }
        }
      }
      .group-4-2Tj {
        flex-shrink: 0;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .contact-us-nSu {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 5.3rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
        }
        .ocoscompanyid-KBw {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2.3rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
        }
        .jl-batu-besar-no-101-blok-c-eED {
          margin-bottom: 2.3rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-62-812-3456-7890-Ng1 {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
