
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.katalog-products-confirmed-xwb {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 210rem;

  .header-z7b {
    box-sizing: border-box;
    width: 144rem;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #605757;
    padding: 2rem 5.5rem 1.9rem 8rem;
    height: 10rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    border: solid 0.1rem #000000;

    .ocos-sBP {
      font-style: italic;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-right: 18.2rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .beranda-yVK {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 18.7rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .products-7Ld {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 17.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .about-us-3zy {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 24.9936rem;
      font-size: 1.5rem;
    }
    .heart-bFo {
      width: 2.6129rem;
      height: 2.279rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.319rem 0.071rem 0rem;
    }
    .shopping-cart-i5X {
      width: 2.75rem;
      height: 2.625rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.625rem 0.225rem 0rem;
    }
    .user-37o {
      margin-bottom: 0.1rem;
      width: 2rem;
      height: 2.25rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .body-MeH {
    width: 105.8rem;
    height: 117.4rem;
    position: absolute;
    left: 9rem;
    top: 15rem;

    .kembali-teD {
      left: 0;
      top: 0;
      font-size: 3.5rem;
      font-weight: 400;
      white-space: nowrap;
      width: 17.4rem;
      height: 4.3rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      line-height: 1.2125;
    }
    .group-1-c4R {
      top: 9.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 50rem;
      height: 43.4rem;
      position: absolute;
      left: 38rem;

      .image-16-jeq {
        margin-bottom: 2.0417rem;
        width: 50rem;
        height: 36.4583rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .facial-foam-by-sari-ayu-emo {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .busa-pembersih-wajah-yang-mengandung-ekstrak-buah-langsat-ekstrak-bunga-hibiscus-vitamin-c-dan-provitamin-b5-memiliki-manfaat-membersihkan-secara-menyeluruh-semua-sisa-debu-kotoran-dan-minyak-berlebih-dalam-satu-langkah-mudah-kulit-terasa-lembut-segar-dan-terlihatlebihcerah-rasakan-manfaat-langsat-pada-rangkaian-bright-skin-putih-langsat-buah-langsat-mengandung-senyawa-flavonoid-fenolik-dan-polifenolik-serta-memiliki-kandungan-antioksidan-yang-tinggi-kandungan-ini-memiliki-manfaat-yang-baik-bagi-kulit-yaitu-dapat-menangkal-radikal-bebas-yang-berdampak-buruk-bagi-kulit-menjaga-kelembapan-kulit-serta-mencerahkankulit-yp5 {
      color: #000000;
      width: 89rem;
      height: 42.5rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 16.8rem;
      top: 66.8rem;
    }
    .auto-group-nd9j-ckZ {
      align-items: center;
      width: 36.3419rem;
      height: 4rem;
      position: absolute;
      left: 46rem;
      top: 60.8rem;
      display: flex;

      .stars-YPK {
        padding: 0.333rem 0.333rem 0.497rem 0.333rem;
        height: 100%;
        display: flex;
        column-gap: 1.6667rem;
        align-items: center;
        flex-shrink: 0;
        margin-right: 8.8581rem;
        box-sizing: border-box;

        .star-eSM {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3.3333rem;
          height: 3.17rem;
        }
        .star-zWD {
          width: 3.3333rem;
          height: 3.17rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-kEV {
          flex-shrink: 0;
          width: 3.3333rem;
          height: 3.17rem;
          object-fit: contain;
          vertical-align: top;
        }
        .star-hQd {
          width: 3.3333rem;
          height: 3.17rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .star-TPo {
          width: 3.3333rem;
          height: 3.17rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .heart-Q49 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.038rem;
        width: 3.4838rem;
        height: 3.0386rem;
      }
    }
    .rp-20000-XeZ {
      white-space: nowrap;
      width: 19.6rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 100;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 4.9rem;
      left: 53.2rem;
      top: 54.2rem;
      text-align: center;
      color: #000000;
    }
    .group-EJ5 {
      padding: 0.525rem 23.625rem;
      width: 50rem;
      height: 5rem;
      left: 38rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 3rem;
      box-sizing: border-box;
      position: absolute;
      top: 112.4rem;
      background-color: #f2f1ef;

      .shopping-cart-xE5 {
        height: 2.625rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        width: 2.75rem;
      }
    }
  }
  .page-selection-pn5 {
    left: 22.3rem;
    top: 146rem;
    display: flex;
    align-items: center;
    width: 99.5rem;
    height: 6rem;
    position: absolute;

    .group-0-MGD {
      font-family: Inter, 'Source Sans Pro';
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f2f1ef;
      width: 25.1rem;
      font-size: 3rem;
      white-space: nowrap;
      text-align: center;
      border-radius: 2rem;
      color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 100%;
      font-weight: 400;
      line-height: 1.2125;

      .group-0-MGD-sub-0 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Times New Roman, 'Source Sans Pro';
      }
      .group-0-MGD-sub-1 {
      }
    }
    .auto-group-eh7o-Dhj {
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.5rem 0rem 0.5rem 19.4rem;
      height: 100%;
      display: flex;

      .group-1-MJ9 {
        line-height: 1.2125;
        display: flex;
        text-align: center;
        height: 100%;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 11rem;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f2f1ef;
        width: 5rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1rem;
      }
      .group-2-QnD {
        background-color: #f2f1ef;
        font-family: Inter, 'Source Sans Pro';
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-weight: 400;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin-right: 1rem;
        text-align: center;
        font-size: 1rem;
        line-height: 1.2125;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        width: 5rem;
        height: 100%;
      }
      .group-3-UXB {
        white-space: nowrap;
        text-align: center;
        font-weight: 400;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        margin-right: 1rem;
        width: 5rem;
        height: 100%;
        font-size: 1rem;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        background-color: #f2f1ef;
      }
      .group-3-YG9 {
        text-align: center;
        justify-content: center;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        height: 100%;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        margin-right: 1rem;
        width: 5rem;
        align-items: center;
        font-size: 1rem;
        color: #000000;
        background-color: #f2f1ef;
        flex-shrink: 0;
      }
      .group-4-DdB {
        background-color: #f2f1ef;
        height: 100%;
        text-align: center;
        color: #000000;
        display: flex;
        justify-content: center;
        font-weight: 400;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin-right: 11rem;
        font-size: 1rem;
        line-height: 1.2125;
        width: 5rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
      }
      .group-5-tzD {
        width: 5rem;
        font-weight: 400;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        font-family: Inter, 'Source Sans Pro';
        background-color: #f2f1ef;
        height: 100%;
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        font-size: 1rem;
        line-height: 1.2125;
        color: #000000;
        display: flex;
        align-items: center;
      }
    }
  }
  .footer-kmX {
    left: 0.1rem;
    top: 161rem;
    display: flex;
    align-items: center;
    padding: 10.2rem 20rem 14.1rem 17rem;
    width: 144rem;
    position: absolute;
    background-color: #605757;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    height: 49rem;

    .auto-group-zj8d-3kd {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 3.7rem 47rem 7.7rem 0rem;
      width: 20rem;
      height: calc(100% - 11.4rem);

      .ocos-xsb {
        font-size: 5rem;
        font-weight: 400;
        margin-bottom: 2.2rem;
        font-style: italic;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 1.2125;
      }
      .auto-group-tfgm-sDs {
        width: 100%;
        display: flex;
        column-gap: 2.5rem;
        align-items: center;
        flex-shrink: 0;

        .group-7-chF {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
        }
        .group-2-Muj {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
        }
        .group-3-Jpy {
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 5rem;
        }
      }
    }
    .group-4-r5o {
      flex-shrink: 0;
      height: 100%;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .contact-us-1UV {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 5.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .ocoscompanyid-MHT {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .jl-batu-besar-no-101-blok-c-gKj {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.3rem;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
      .item-62-812-3456-7890-bSh {
        flex-shrink: 0;
        font-size: 3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .rectangle-52-HqK {
    width: 144rem;
    height: 210rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #6e6e6e;
  }
  .group-15-2nu {
    width: 64rem;
    display: flex;
    position: absolute;
    left: 40rem;
    top: 45rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5.9rem 12.95rem 5.9rem 12.85rem;
    height: 26.6rem;
    background-color: #f2f1ef;
    border-radius: 2rem;

    .check-Kn1 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 2.917rem 0.1rem;
      width: 6.6667rem;
      height: 4.5833rem;
    }
    .produk-telah-dimasukkan-ke-keranjang-r1F {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 38.2rem;
      text-align: center;
      font-size: 3rem;
      font-weight: 100;
    }
  }
}
