
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.log-in-e6V {
  background-color: #d3ecf9;
  width: 100%;
  height: 77rem;
  overflow: hidden;
  position: relative;

  .body-BMK {
    overflow: hidden;
    background-color: #605757;
    width: 100%;
    height: 100%;
    position: relative;

    .heading-KCd {
      position: absolute;
      left: 63.4rem;
      line-height: 1.2125;
      width: 16.7rem;
      height: 6.1rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 3.9rem;
      font-size: 5rem;
    }
    .username-QUy {
      line-height: 1.5;
      color: #ffffff;
      height: 3.8rem;
      font-size: 2.5rem;
      font-weight: 400;
      top: 15.7rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 12.9rem;
      position: absolute;
      left: 65.45rem;
    }
    .group-3-W2D {
      height: 3rem;
      text-align: center;
      font-weight: 400;
      width: 80rem;
      line-height: 1.2125;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f2f1ef;
      left: 31.9rem;
      top: 21.5rem;
      font-style: italic;
      color: #999999;
      white-space: nowrap;
      box-sizing: border-box;
      position: absolute;
      font-size: 1.5rem;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #000000;
      padding: 0.6rem 0.05rem 0.5rem 0.05rem;
    }
    .password-i8H {
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      width: 13.8rem;
      height: 3.8rem;
      left: 65rem;
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.5;
      white-space: nowrap;
      position: absolute;
      top: 26.5rem;
      text-align: center;
    }
    .group-5-czM {
      color: #999999;
      box-sizing: border-box;
      left: 31.9rem;
      top: 32.3rem;
      line-height: 1.2125;
      width: 80rem;
      font-style: italic;
      border: solid 0.1rem #000000;
      white-space: nowrap;
      background-color: #f2f1ef;
      padding: 0.6rem 0.05rem 0.5rem 0.05rem;
      font-size: 1.5rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      height: 3rem;
      position: absolute;
      text-align: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .group-6-45f {
      color: #000000;
      justify-content: center;
      left: 61.9rem;
      top: 39.3rem;
      font-size: 1.5rem;
      font-weight: 400;
      width: 20rem;
      white-space: nowrap;
      border-radius: 2rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f2f1ef;
      height: 5rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
      text-align: center;
      line-height: 1.2125;
      display: flex;
    }
    .not-registered-h8d {
      width: 14.7rem;
      position: absolute;
      left: 51.9rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 2.5rem;
      top: 53.6rem;
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
    }
    .group-8-ztR {
      top: 53.3rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      background-color: #f2f1ef;
      height: 3rem;
      position: absolute;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
      justify-content: center;
      width: 20rem;
      left: 75.9rem;
      align-items: center;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      font-size: 1.5rem;
      color: #000000;
    }
    .line-3-fDs {
      left: 0;
      top: 10.9rem;
      background-color: #ffffff;
      width: 144rem;
      height: 0.1rem;
      position: absolute;
    }
  }
}
