
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.sign-in-C2m {
  width: 100%;
  height: 90rem;
  overflow: hidden;
  position: relative;

  .heading-wW9 {
    padding-top: 3.5493rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #605757;
    box-sizing: border-box;

    .heading-UW5 {
      flex-shrink: 0;
      margin: 0rem 0.5rem 1.351rem 0rem;
      font-size: 5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-3-PN9 {
      margin-bottom: 8.9rem;
      width: 100%;
      height: 0.1rem;
      background-color: #ffffff;
      flex-shrink: 0;
    }
    .username-8Kj {
      flex-shrink: 0;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .auto-group-hxyf-FfF {
      box-sizing: border-box;
      padding: 1.9rem 32rem 19.1rem 32rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-3-Zvq {
        font-style: italic;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 400;
        color: #999999;
        white-space: nowrap;
        padding: 0.7rem 0.35rem 0.4rem 0.35rem;
        width: 100%;
        font-size: 1.5rem;
        box-sizing: border-box;
        background-color: #f2f1ef;
        flex-shrink: 0;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
      }
      .alamat-e-mail-QgZ {
        font-weight: 400;
        flex-shrink: 0;
        margin: 0rem 0.1rem 1.9rem 0rem;
        text-align: center;
        font-size: 3rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .group-5-Wjb {
        background-color: #f2f1ef;
        line-height: 1.2125;
        border: solid 0.1rem #000000;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin-bottom: 2.2rem;
        box-sizing: border-box;
        color: #999999;
        flex-shrink: 0;
        font-size: 1.5rem;
        font-style: italic;
        padding: 0.7rem 0.45rem 0.4rem 0.45rem;
        width: 100%;
      }
      .password-e-mail-N17 {
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 1.7rem 0.1rem;
        font-size: 3rem;
        text-align: center;
        color: #ffffff;
      }
      .group-7-V5j {
        padding: 0.7rem 0.45rem 0.4rem 0.45rem;
        font-style: italic;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-bottom: 4rem;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-weight: 400;
        border: solid 0.1rem #000000;
        font-size: 1.5rem;
        line-height: 1.2125;
        color: #999999;
        background-color: #f2f1ef;
      }
      .group-8-Ls3 {
        width: calc(100% - 50rem);
        font-size: 1.5rem;
        flex-shrink: 0;
        height: 5rem;
        text-align: center;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        margin: 0rem 25rem 9rem 25rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        background-color: #f2f1ef;
        border-radius: 2rem;
      }
      .auto-group-qtiu-Zzh {
        margin: 0rem 14.8rem 0rem 13.4rem;
        width: calc(100% - 28.2rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .alrady-have-an-account-tn5 {
          flex-shrink: 0;
          margin-right: 8.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          text-align: center;
          font-size: 2rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-8-oe9 {
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          width: 20rem;
          height: 3rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          font-size: 1.5rem;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          background-color: #f2f1ef;
          margin-bottom: 0.1rem;
          text-align: center;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }
}
